/* Ultimate override */
.publications .highlighted,
.bibliography .highlighted {
  font-weight: 800 !important;
  color: inherit !important;
}
.publications .highlighted a,
.bibliography .highlighted a {
  color: inherit !important;
  font-weight: 800 !important;
}
